footer {
  background-color: deep-get($color, bg, footer);
  color: deep-get($color, text, footer);
  padding-top: 40px;
  font-size: 14px;
  a {
    &:hover {
      text-decoration: none;
    }
  }

  .footer-top {
    h2 {
      font-size: 18px;
      margin-bottom: 2rem;
    }

    .logo {
      width: 300px;
      display: flex;
      padding-top: 60px;
    }

    .about-us {
      padding: 0 200px 0 100px;
      a {
        display: block;
      }
    }
  }

  .footer-bottom {
    background-color: deep-get($color, bg, copy-right);

    .copy-right {
      justify-content: space-between;
      padding: 0.5rem 0;
      a {
        color: deep-get($color, text, footer);
        &:hover {
          color: deep-get($color, hover, blue);
        }
      }

      &__right {
        a:not(:last-child) {
          padding-right: 2rem;
        }
      }
    }
  }
}
