nav {
  font-size: 1rem;
  font-weight: weight(semi-bold);
  padding: 0 0 .4rem;

  ul.main-menu {
    margin: 0;
    padding: 0;
    border-right: 10px solid deep-get($color, hover, red);
  }

  li {
    list-style-type: none;
    display: inline-block;
    line-height: 1.5rem;
    padding: 5px 10px;
    a {
      color: map-get($map: $nav, $key: color-nav);
    }

    &:hover a {
      text-decoration: none;
      color: map-get($map: $nav, $key: color-active);
    }
  }
}
