main {
  background-color: white;
}

.feature {
  //
}

.primary {
  padding-top: 1.25rem;
  border-top: 1px solid deep-get($color, border, primary);

  &__content {
    flex: 1 0 750px;

  }

  &__sidebar {
    flex: 1 0 360px;
  }
}
